
.basket-big-container{

    width: 80%;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
  
}
.basket-items{
    background-color: #fff;
    width: 50vw;
    

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    

}
.basket-header{
    width:50vw;
    font-size: 36px;
    display:flex;
    justify-content:space-between;
    align-items: center;

}
.delete-all-button{
    border:none;
    align-self: flex-end;
    font-size: 24px;

}
.basket-right{
    
    width: 20vw;
    height: 40vh;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.total-price{
    font-size: 36px;
    font-weight:600;
}
.total-button{
    
    background-color: #227f9c;
    color: #000;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    height: 10vh;
    border-radius: 5px;
}

.basket-item{
    
    width: 50vw;
    height: 20vh;

    border: 1px solid #ccc;

    display: flex;
    justify-content: space-around;
    align-items: center;
    resize: none;
    
  
}
.basket-item-img{
    flex:0 30%;
    height: 80%;
    
}
.basket-item-details{
    flex:0 60%;
    height: 80%;

    display: flex;
    justify-content: space-between;

}
.basket-img{
    width: 100%;
    height: 100%;
}

.basket-item-title-price{
    flex:0 60%;
}
.basket-item-buttons{
    flex: 0 25%;
}
.delete-icon-div{
    display: flex;
    justify-content: center;
}