.basket-big-container{
    background-color: aqua;
    width: 80%;
    
    display: flex;
    justify-content: space-around;
  
}
.basket-items{
    background-color: #fff;
    width: 50vw;
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    

}
.basket-right{
    background-color: yellow;
    width: 20vw;
    height: 80vh;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

.basket-item{
    
    width: 50vw;
    height: 20vh;

    border: 1px solid #ccc;

    display: flex;
    justify-content: space-around;
    align-items: center;
    resize: none;
    
  
}
.basket-item-img{
    flex:0 30%;
    height: 80%;
    
}
.basket-item-details{
    flex:0 60%;
    height: 80%;

    display: flex;
    justify-content: space-between;

}
.basket-img{
    width: 100%;
    height: 100%;
}

.basket-item-title-price{
    flex:0 60%;
}
.basket-item-buttons{
    flex: 0 25%;
}
.delete-icon-div{
    display: flex;
    justify-content: center;
}